@model IEnumerable<eStore.Models.ProductVMs.ProductListVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

@if (!User.IsInRole("Customer"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitslnStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitslnStock)
            </td>
                @if (Context.Session.GetString("admin") != null)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Detail", new {  id=item.Id  }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                }else
                {
                    <td>
@*                        <form asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-link">
                                Add to cart
                            </button>
                        </form>*@
                        <button class="btn btn-success addToCart" data-productid="@item.Id">
                            Add to cart
                        </button>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };

    </script>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["Message"].ToString()");
        };

    </script>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".addToCart").click(function (event) {
                event.preventDefault();
                var productid = $(this).attr("data-productid");
                $.ajax({
                    type: "POST",
                    url: "https://localhost:7038/Cart/AddToCart",
                    data: {
                        id: productid,
                    },
                    success: function (result) {
                        window.location.href = "@Url.RouteUrl("Index")";
                        //alert("add succesful");
                    }
                });
            });
        });
    </script>

      }